## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [1]:
#importing the required libraries

import pandas as pd 
import numpy as np

# importing the dataset

sets = pd.read_csv("datasets/lego_sets.csv")
themes = pd.read_csv("datasets/parent_themes.csv")

# printing the head of two files

display(sets.head())
display(themes.head())
print("\n")
print("Shape of Lego Sets :", sets.shape,"\n","Shape of Parent Theme :", themes.shape)
print("\n")
display(sets.info())
display(themes.info())

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

Shape of Lego Sets : (11986, 6)
 Shape of Parent Theme : (111, 3)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

None

In [2]:
#check for duplicates in theme df

print("Duplicates in theme name : ", np.sum(themes['name'].duplicated()))

# Once confirmed no duplicate proceed.

# Mutate sets by appending the column "is_licensed" from theme 
sets['is_licensed'] = sets.parent_theme.map(themes.set_index('name')['is_licensed'])

 
display(sets.head())


#checking for na values
print(sets.isna().sum())
print("\n")
#remove missing value from set_num column of sets because that indicates a duplicate or invalid entry.
sets = sets.dropna(subset=['set_num'])
#checking if the row containing na in set_num col have been removed
print(sets.isna().sum())

print("\n")

print(sets.shape)

Duplicates in theme name :  0

,set_num,name,year,num_parts,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,False

set_num          153
name             153
year               0
num_parts       5060
theme_name       153
parent_theme       0
is_licensed        0
dtype: int64


set_num            0
name               0
year               0
num_parts       4998
theme_name         0
parent_theme       0
is_licensed        0
dtype: int64


(11833, 7)

In [3]:
'''
What percentage of Licensed sets were star wars themed?

# Step 1: subset the data by license and count the number of such sets
# Step 2: count the number of sets with star wars theme
# Step 3: divide step 1 by sep 2 * 100
'''


Total_Licensed_sets =  sets[sets["is_licensed"] == True]

Licensed_Star_wars_sets = Total_Licensed_sets[Total_Licensed_sets["parent_theme"] == 'Star Wars']


the_force = int(Licensed_Star_wars_sets.shape[0]* 100/Total_Licensed_sets.shape[0])

print(the_force,"% of licensed sets was star wars themed",sep='')

51% of licensed sets was star wars themed

In [4]:
'''
In which year was Star Wars not the most popular licensed theme 
(in terms of number of sets released that year)? 
'''

#group = Total_Licensed_sets[Total_Licensed_sets["parent_theme"]].groupby("year").size()

group = Total_Licensed_sets.pivot_table(index = 'year', columns = 'parent_theme', 
                                        values = 'set_num', aggfunc= np.size, 
                                        fill_value = 0, margins = True)

group = round(group.div( group.iloc[:,-1], axis=0)*100,2)


Max = group.iloc[:-1,:-1].idxmax(axis = 1)

new_era = pd.DataFrame({'Theme':Max}).reset_index()

new_era  = int(new_era[~(new_era["Theme"] == 'Star Wars')]['year'])



print("In the year ", new_era, ", Stars Wars popularity was in the Lego world was the lowest",sep='')

In the year 2017, Stars Wars popularity was in the Lego world was the lowest